.backGround{
    background: #4D505F;
}

.backGroundBlock{
    background: #64687D;
}

.backGroundAside{
    background: #989caf;
}

.backGroundButton{
    background: #ffffff;
}

.backGroundImage{
    background: #64687d;
    color: #000000;
}
