<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Urban Sensor</title>
    <link rel="stylesheet" href="barChart.css">

</head>

<header class="header">
    <div class="img-logo">
        <img class="img-responsive img-muni" title="Logo" src="https://tramites.munistgo.cl/certificadosweb/Imagenes/Logo%20MuniSTGO%20Horizontal%20NEGRO.png" height="45px">
    </div>
    <div class="top-left">
        <div class="bg-transparent" style="width: 20px ; height: 10px;"></div>
        Mesa de ayuda
    </div>
    <div class="top-right">
        <div class="img-usuario">
            <img class="img-responsive img-usuario" title="usuario" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" height="30px" style=" border-radius: 100%;">
        </div>
        <div class="name-usuario">
            Administrador
        </div>
    </div>   
</header>

