/* Gestion de usuario */
.header{
    background: #64687D;
    width:100%;
    height: 60px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
    background: #989caf;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: top;
    align-items: top;
}
.contenidoHeader div{
    display:inline-block;
    box-sizing: border-box;
}
.img-logo {
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left{
    background: #989caf;
    width: calc(2000vh + 600px);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center; 
}
.top-right{
    background: #989caf;
    position: right;
    min-width: 200px;
    max-width: 200px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.img-usuario{
    margin: 3%;
}
.name-usuario{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonesPanel div{
    margin-bottom: 10px;
}
.botonesPanel img{
    width: 40px;
    padding-right: 5px;
}

.footer{
    width: 100% !important;
    height: 100% !important;
}

.btnNuevo{
    background: #64687D;
    color: #ffffff;
}
