{% extends "./base.html" %}
{% block title%} Dashboard {% endblock %}
{% block head %}
<div style="width: 100%; height: 80px;">
    <div class="text-flex"></div>
        <div class="d-flex" style="width: auto;">
            <div class="backGroundImage backGroundAside" style="max-width: 200px; min-width: 200px; height: 80px;">
                <div style="width: auto; height: 10px;"></div>
                <center class="text-center"><img src="https://tramites.munistgo.cl/certificadosweb/Imagenes/Logo%20MuniSTGO%20Horizontal%20NEGRO.png" width="100%"></center>
            </div>
            <div class="backGroundAside d-flex align-items-center" style="width: 100%;"><h2>Dashboard</h2></div>
    </div>
</div>
{% endblock %}
{% block menu %}
<div class="aside bg-warning" style="width: 100%; height: 200px;">asdasd</div>
{% endblock %}